.wazeLink {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(20, 20, 20, 0.966);
  border-radius: 0px 10px 10px 0px;
  text-decoration: none;
  font-family: "Squada One";
}

.wazeLink > svg {
  margin-left: 10px;
}
