.heroCaption {
  max-width: 500px;
  min-width: 150px;
  padding: 10px;
  display: inline;
  position: absolute;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.541);
}

.heroCaption > h1 {
  padding: 5px;
  display: flex;
  align-items: center;
  font-family: "Niconne";
  margin: 0px;
  color: var(--bargas-gold);
}

.heroCaption > p {
  font-family: "Josefin Slab";
  color: rgb(226, 226, 226);
  font-style: italic;
  margin: 0px;
}

.roundedWrapper {
  margin: 0px 0px 0px 20px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: black;
}

.roundedWrapper > svg {
  margin: 0px 0px 0px 0px;
  color: rgb(195, 191, 191);
}

.btn {
  float: right;
  margin-top: 20px;
  font-size: 1.2rem;
}

.basicDivider {
  width: 100%;
  height: 2px;
  background-color: aliceblue;
  margin: 0px 0px 5px 0px;
}

@media (min-width: 320px) {
  .heroCaption {
    bottom: 0%;
    top: unset;
  }

  .heroCaption > h1 {
    font-size: 2.25rem;
  }

  .btn {
    display: none;
  }

  .roundedWrapper {
    padding: 10px;
  }

  .roundedWrapper > svg {
    font-size: 1rem;
  }
}

@media (min-width: 991px) {
  .heroCaption {
    top: 20%;
    bottom: unset;
  }

  .heroCaption > h1 {
    font-size: 3.5rem;
  }

  .heroCaption > p {
    display: block;
  }

  .roundedWrapper {
    padding: 10px;
  }

  .roundedWrapper > svg {
    font-size: 2rem;
  }

  .btn {
    display: block;
  }
}
