.panelWrapper {
  justify-content: center;
  align-items: center;
}

.formCol {
  background-color: rgba(0, 0, 0, 0.596);
  padding: 20px;
}

.mapCol {
  padding: 0;
}

.subTitle {
  margin-bottom: 20px;
  font-family: "Niconne";
  font-size: 1.8rem;
}

.panelWrapper h2:last-of-type {
  margin-top: 40px;
}

.icon {
  flex-shrink: 0;
  font-size: 1.5rem;
}

.socialIcon {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

/*SHARED CSS*/
.subTitle,
.icon,
.socialIcon {
  color: var(--bargas-gold);
}