.formTitle {
  margin-bottom: 20px;
  color: var(--bargas-gold);
  font-family: "Niconne";
  border-bottom: solid rgba(114, 114, 114, 0.596) 2px;
  clear: both;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 122px 0px 0px 0px;
}

.wrapper {
  position: relative;
  margin: 30px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.555);
  width: 470px;
}

.authBtn {
  display: block;
  margin: 20px auto 20px auto;
  width: 60%;
  font-size: 1.1rem;
}

.linkLabel {
  margin: 0px 0px 0px 0px;
  color: var(--bargas-muted-text1);
}

.loginLink {
  text-decoration: underline;
  cursor: pointer;
  margin: 0px 0px 0px 5px;
  color: rgba(255, 255, 255, 0.849);
  transition: color 0.5s;
}

.loginLink:hover {
  color: rgba(255, 255, 255, 0.945);
}

.extraText {
  color: var(--bargas-muted-text1);
}

/*SHARED STYLES*/
.linkLabel,
.loginLink,
.extraText {
  font-family: "Squada One";
  font-size: medium;
}

@media (min-width: 320px) {
  .wrapper {
    padding: 30px;
  }

  .formContainer {
    margin: 20px 0px 0px 0px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 40px;
  }
}

@media (min-width: 991px) {
  .formContainer {
    margin: 122px 0px 0px 0px;
  }
}
