.carousel {
  width: 100%;
  margin: auto;
}

.itemWrapper {
  max-height: 100vh;
}

.carouselImg {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 1920px) {
  .carouselImg {
    height: 100vh;
  }
}
