.quantityInput > label {
  display: block;
  margin: 10px 0px 0px 0px;
  color: rgb(209, 209, 209);
  font-size: 1.2rem;
}

.inputArea {
  max-width: 50px;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.3rem;
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.inputWrapper > button {
  padding: 0px;
  background-color: transparent;
  border: none;
}

.icon {
  color: var(--bargas-gold);
  font-size: 1.6rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*Shared css properties*/

.quantityInput > label,
.inputArea {
  font-family: "Squada One";
}
