.container {
  background-color: rgba(0, 0, 0, 0.376);
  margin-top: 150px;
}

.markdownWrapper {
  padding: 15px;
  margin: auto;
}

.markdownWrapper > p {
  color: white;
  font-family: "Josefin Slab";
  text-align: justify;
}

.markdownWrapper > h1,
.markdownWrapper > h3 {
  font-family: "Squada One";
  color: var(--bargas-gold);
}

@media (min-width: 320px) {
  .container {
    margin-top: 50px;
  }
}

@media (min-width: 991px) {
  .container {
    margin-top: 150px;
  }
}
