.subTotal {
  margin: 20px 0px 10px 0px;
  font-family: "Squada One";
  color: var(--bargas-muted-text2);
  font-size: 1.2rem;
}

.orderBtn {
  display: block;
  width: 40%;
  margin: 20px 0px 0px 0px;
  font-size: 1.2rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px 0px 0px;
}

.actions > button {
  margin: 0px 0px 0px 5px;
}

.textArea > label {
  color: rgb(209, 209, 209);
}
