.linkBtn {
  transition: all 0.3s ease;
  background-color: var(--bargas-gold);
  color: rgba(0, 0, 0, 0.692);
  border: none;
  border-radius: 5px;
  font-family: "Squada One";
  font-size: 1.2rem;
  font-style: normal;
  text-decoration: none;
  padding: 8px;
}

.linkBtn:hover {
  background-color: rgb(233, 198, 44);
  color: rgba(0, 0, 0, 0.692);
}