.menuBtn {
  align-self: flex-end;
  margin: 0px 0px 10px 10px;
  padding: 10px 20px 10px 20px;
  font-family: "Josefin Slab";
  border: solid rgb(216, 183, 35) 2px;
  font-size: 1.2rem;
  color: rgb(226, 226, 226);
  background-color: transparent;
  border-radius: 0%;
}

.masonryWrapper {
  display: flex;
  justify-content: center;
}

.masonryGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-top: 50px;
  margin-left: -15px; /* gutter size offset */
}

.masonryCol {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

.masonryCol > div {
  background: grey;
  margin-bottom: 15px;
}

.masonImg {
  width: 100%;
}

@media (min-width: 320px) {
  .masonryGrid {
    max-width: 80%;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 991px) {
  .masonryGrid {
    max-width: 60%;
  }
}

@media (min-width: 1200px) {
}
