.cardTitle {
  color: rgb(172, 168, 168);
  font-size: 2rem;
  font-family: "Niconne";
}

.priceTag, .priceTag > span{
  color: rgb(177, 173, 173);
  font-weight: 400;
}

.priceTag {
  display: inline;
  float: right;
  font-family: 'Squada One';
  font-size: 1.4rem;
  border-radius: 20px 20px 20px 20px;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

.priceTag > span{
  font-size: 1.2rem;
}

.card {
  background-color: rgba(10, 10, 10, 0.383);
}

.textWrapper {
  height: 60px;
}

.description{
  color: rgb(221, 221, 221);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  display: -moz-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  white-space: normal;
  font-family: 'Josefin Slab';
  line-height: 1.1;
  font-size: 1.1rem;
  text-align: left;
}

.noContentMsg {
  margin: 50px 0px 0px 0px;
  padding: 40px 0px 40px 0px;
}
