.authDp {
  color: black !important;
  background-color: black;
  padding: 0px !important;
  margin: 0px 5px 0px 0px;
}

.dpMenu {
  background-color: var(--bargas-gold) !important;
}

.dpMenu > a,
.dpMenu > button {
  font-family: "Squada One";
  font-size: 1.2rem;
  color: rgb(59, 59, 59);
  transition: all ease .3s;
}

.dpMenu > a:hover,
.dpMenu > button:hover {
  background-color: black;
  color: rgb(233, 233, 233);
}

.divider {
  height: 2px;
  background-color: black;
  margin: 2px 0px 2px 0px;
}

.icon {
  font-size: 26px;
  margin: 0px 0px 0px 0px;
}

.authDp::after {
  content: none !important;
}

.authDp:active,
.authDp:hover,
.authDp:focus {
  box-shadow: none !important;
}

.authDp:enabled {
  background-color: transparent !important;
  border: none;
}
