.scrollingWrapper {
  white-space: nowrap;
  overflow: auto;
  max-width: 640px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.scrollingWrapper::-webkit-scrollbar {
  display: none;
}

.categorieList {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}