.title {
  font-family: "Niconne";
  color: rgb(216, 183, 35);
  font-size: 2.1rem;
  margin: 0px 0px 20px 0px;
}

.mainCont {
  display: flex;
  align-items: center;
}

.controlBtn:active {
  outline: none !important;
}

.icon {
  color: rgba(216, 211, 211, 0.883);
  font-size: 2rem;
  transition: color 0.5s;
}

.icon:hover {
  color: rgba(255, 255, 255, 0.883);
}

@media (min-width: 320px) {
  .controlBtn {
    display: none;
  }
}

@media (min-width: 991px) {
  .controlBtn {
    display: inline-block;
  }
}
