.navLink {
  min-width: 128px;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  text-align: center;
  font-family: "Squada One";
  font-size: 1.6rem;
  color: rgb(100, 99, 99);
}

.active {
  color: rgb(32, 32, 32) !important;
}

@media (min-width: 320px) {
  .navbar {
    background-color: #ffffffe3;
  }
  .logoContainer {
    display: none;
  }
  .navBrand {
    display: block;
    margin-left: 20px;
  }
  .mobileRight {
    display: inline-block;
  }
}

@media (min-width: 991px) {
  .logoContainer {
    display: block;
  }
  .navBrand {
    display: none;
  }

  .mobileRight {
    display: none;
  }
}
