.divider {
  display: block;
  width: 100%;
  max-width: 900px;
}


 @media (min-width: 320px) {
  .divider {
    margin: 0px auto 0px auto;
  }
}

@media (min-width: 768px) {
  .divider {
    margin: 50px auto 50px auto;
  }
} 
