.modalContent {
  overflow-x: auto;
}

.modalHeader,
.modalFooter {
  border: none;
}

.modalHeader {
  padding: 15px;
  position: relative;
}

.productName {
  font-family: 'Niconne';
  font-size: 1.5rem;
}

.modalTittle{
  margin: 0px;
}

.modalBody {
  padding: 0px !important;
  background-color: rgb(15, 15, 15) !important;
}

.formWrapper {
  padding: 15px;
}

