.contactForm {
  position: relative;
}

.submitBtn {
  display: block;
  margin: 20px auto 0px auto;
  width: 40%;
  font-size: 1.2rem;
}

.submitBtn:disabled {
  color: rgba(16, 16, 16, 0.3);
  cursor: not-allowed;
}