.totalWrapper {
  min-width: 300px;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.totalHeader {
  text-align: center;
  background-color: rgb(212, 212, 212);
}

.totalContent {
  color: rgb(206, 202, 202);
  background-color: rgba(63, 63, 63, 0.534);
  padding: 20px 10px 20px 10px;
  font-family: "Squada One";
}

.totalContent > p {
  margin: 0px;
  font-size: 1.2rem;
}

.basicDivider {
  height: 2px;
  background-color: rgb(179, 179, 179);
  margin: 10px 0px 10px 0px;
}

.orderBtn {
  background-color: rgb(216, 183, 35);
  border-radius: 0px;
  width: 100%;
}

/*Shared css properties*/

.totalHeader,
.orderBtn {
  padding: 15px;
  font-family: "Squada One";
  font-size: 1.5rem;
}
