.textColor {
  color: white;
}

.bgColor {
  background: purple;
}

.carouselImg {
  object-fit: cover;
  overflow: hidden;
}

.itemWrapper {
  max-height: 800px;
}

.caption {
  display: inline-block;
  padding: 0;
  top: 20%;
  left: 0%;
  background-color: rgba(2, 2, 2, 0.555);
  font-family: "Niconne";
}

.caption > h3 {
  display: inline-block;
  text-align: left;
  font-size: 3rem;
  color: rgb(216, 183, 35);
}

.caption > p {
  display: inline-block;
  font-size: 3rem;
  color: rgb(216, 183, 35);
  text-align: left;
}

.testDivider {
  display: block;
  margin: 0px auto 0px auto;
  width: 900px;
  height: 200px;
}

/* .carousel > a span:nth-child(1){
  background-color: rgb(216, 183, 35);
  border-radius: 50%;
  padding: 20px;
} */
