.col {
  padding: 20px 20px 20px 20px;
  margin: 0px 10px 0px 10px;
  border-right-style: solid;
  border-right-color: rgba(177, 177, 177, 0.685);
}

.leftIcon {
  display: flex;
  align-items: center;
}

.topIcon {
  display: block;
}

.col > p {
  font-family: "Josefin Slab";
  font-size: 1.2rem;
  color: rgb(233, 233, 233);
  margin: 0px;
}
