.content {
  background-color: rgb(14, 14, 14);
  border: solid rgb(35, 35, 35) 2px;
}

.modalHeader {
  background-color: black;
  color: var(--bargas-gold);
  border: none;
}

.modalHeader > button:focus,
.modalHeader > button:focus-visible {
  box-shadow: none;
}

.modalHeader,
.modalBody {
  font-family: "Squada One";
}

.modalBody {
  color: rgb(144, 143, 143);
  border: none !important;
}
.modalDesc {
  margin-top: 5px;
  font-size: 1.1rem;
}

.modalFooter {
  border-top: solid rgb(35, 35, 35) 2px;
}

.modalFooter > button:focus,
.modalFooter > button:focus-visible {
  box-shadow: none !important;
  outline: none !important;
}